<h1 class="ask ">Nhập vào câu hỏi: </h1>
<form class="form" action="/api/question"  method="post">
    <input type="text" name="question" value="" placeholder="question" >
    <br>
    <input type="submit" name="" value="Submit">
</form>