<div class="row" style="text-align: center">
    <h1 class="ask ">Nhập vào câu hỏi: </h1>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <form class="form" action="/api/question"  method="post">
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row" style="text-align: center; margin-top: 30px">
    <button type="button" class="btn btn-primary">Gửi</button>
</div>
