/* tag selector */
p {
  color : red;
}

h1 {
  background : yellow;
}

/* class selector */
.underlined-text {
  text-decoration: underline;
}

.bold-text {
  font-weight: bold;
}

/* id selector */
#top {
  font-family: "Comic Sans MS";
}

/* attribute selector */

[href] {
  color: green;
}

[href = "#top"] {
  font-size: 24px;
}

/* child selector */
ul li {
  list-style: square;
}

ol li {
  list-style: circle;
}

/* direct child selector */
ul > li {
  color: deepskyblue;
}

li:last-child {
  color: red;
}

nav:hover {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

a:active {
  color: brown;
}

input:focus {
  border: 1px dashed red;
}
